/* body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:monospace
}

.header-reg{
    height: 80px;
    background-color: #40689c;
}

content {
    padding-left: 15px;
    padding-right: 15px;
}

.block-header{
    margin-bottom: 3px;
    border-bottom: 1px solid #aaa;
}

.block-header h1{
    text-align: center;
} */

.biggest {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid #DBDBDB;
    border-right: 1px solid #DBDBDB;
}

.dropdown-menu {
    padding-left: 10px;
    padding-right: 10px;
}

.form-check {
    margin-bottom: 2px;
}

.button-pravo {
    width: 100%;
}

.razdel {
    background-color: rgb(53, 180, 230);
    height: 2px;
}

.formaeb {
    margin-right: 10px;
    width: 300px;
}

.pechat  {
    width: 462px;
    height: 320px;
}

.probel {
    margin-bottom: 15px !important;
}