
  {% extends "base.html" %}
  {%load static%}
  {% block content %}

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "/css/adminpanel.css" %}" />
    <link rel="apple-touch-icon" type="image/png" href="https://static.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <link rel="shortcut icon" type="image/x-icon" href="https://static.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111">


 </head>

 <body>

    <div id="wrapper">
       <!-- Sidebar -->
       <div id="sidebar-wrapper">
          <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
               <a href="{%url 'adminpanel' slug='all'%}">Все кандидаты</a>

            </li>
             <li class="active">
                <a href="#"><span class="fa-stack  "></span>ФПСОИБ</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                   <li><a href="{%url 'adminpanel' slug='1факультет'%}">1факультет</a></li>
                   <li><a href="{%url 'adminpanel' slug='2факультет'%}">2факультет</a></li>
                </ul>
             </li>
             <li>
                <a href="#"><span class="fa-stack"></span>ПД</a>
                <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="{%url 'adminpanel' slug='3факультет'%}">3факультет</a></li>
                  <li><a href="{%url 'adminpanel' slug='4факультет'%}">4факультет</a></li>
                </ul>
             </li>


          </ul>
       </div>
       <!-- /#sidebar-wrapper -->
       <!-- Page Content -->
       <div id="page-content-wrapper">
          <div class="container-fluid xyz">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary panel1">
                  <div class="panel-heading panel1">
                    <div class="row">
                      <div class="col-3">
                        <i class="fa fa-arrow-down fa-5x"></i>
                      </div>
                      <div class="col text-center">
                        <div class="huge">{{vsego}}</div>
                        <div>Всего кадидатов</div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary panel2 ">
                  <div class="panel-heading panel2">
                    <div class="row">
                      <div class="col-3">
                        <i class="fa fa-arrow-right fa-5x"></i>
                      </div>
                      <div class="col text-center">
                        <div class="huge">{{zapoln}}</div>
                        <div>Полностью заполнены данные</div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary panel3">
                  <div class="panel-heading panel3">
                    <div class="row">
                      <div class="col-3">
                        <i class="fa fa-check fa-5x"></i>
                      </div>
                      <div class="col text-center">
                        <div class="huge">{{dopusheno}}</div>
                        <div>Допущено </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
             <div class="row">
                <div class="col-lg-12">
                  <h1 class="page-header">Список абитуриентов</h1>
                  <form action="{%url 'saveAdminTable' slug%}" method="post">
                      {% csrf_token %}

                  <table class="table table-hover">
                    <thead>
                      <th class="text-center">#</th>
                      <th>Фамилия</th>
                      <th class="text-center">Допуск</th>
                      <th>Кол-во баллов</th>
                      <th>Пометка</th>
                    </thead>
                    <tbody>

                                  {{ form.management_form }}
                              {%for profile,form in profile_formset%}
                                <tr>
                                    <td><a href="{%url 'detail_user' pk=profile.pk%}">подробнее</a></td>
                                  {% for field in form %}
                                  <td>{{ field }}</td>
                                  {% endfor %}
                                </tr>
                            {%endfor%}

                    </tbody>

                  </table>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить изменения</button>
                    </form>
                </div>
             </div>
          </div>
       </div>
       <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
 <script>
   $("#menu-toggle").click(function(e) {
   e.preventDefault();
   $("#wrapper").toggleClass("toggled");
});
$("#menu-toggle-2").click(function(e) {
   e.preventDefault();
   $("#wrapper").toggleClass("toggled-2");
   $('#menu ul').hide();
});

function initMenu() {
   $('#menu ul').hide();
   $('#menu ul').children('.current').parent().show();
   //$('#menu ul:first').show();
   $('#menu li a').click(
      function() {
         var checkElement = $(this).next();
         if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
            return false;
         }
         if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
            $('#menu ul:visible').slideUp('normal');
            checkElement.slideDown('normal');
            return false;
         }
      }
   );
}
$(document).ready(function() {
   initMenu();
});
 </script>
 </body>

 </html>
  {%endblock%}
