{% extends "base.html" %}
{%load static%}
{% block content %}
<div class="content active">
<div class="container-fluid">
 <div class="row">
   <div class="col p-5">
     <div class="container-fluid">
       <div class="row">
         <div class="col">
           <h1 class="display-4">Произошла ошибка!</h1>
           <h3><strong>{{content}}</strong></h3>

           <!-- <p class="lead mb-5">What would you like to do?</p> -->
         </div>
       </div>
     </div>


</div>

</div>
</div>
</div>
{% endblock %}
