{% extends "base.html" %}
{%load staticfiles%}
{% block content %}






<form action="{%url 'saveInfo'%}" method="post" enctype="multipart/form-data" class="zagruzka">
      {% csrf_token %}
  <div class="container">
<div class="py-5 text-center">


</div>

<div class="row">

  <div class="col-md-10 order-md-1">
    <h4 class="mb-3">Информация</h4>
    <form class="needs-validation" novalidate>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="lastName">Фамилия</label>
            {{form.familiya}}
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="firstName">Имя</label>
          {{form.imya}}
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label for="lastName">Отчество</label>
            {{form.otchestvo}}
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <h4>Паспорт</h4>
      <div class="row">
          <div class="col-md-4 mb-3">

            <label for="firstName">Серия</label>
              {{form.seriya}}
              <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">Номер</label>
              {{form.nomer}}
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
      <hr class="mb-4">
      <h4>Пол</h4>
      <div class="d-block my-3">
      {{form.pol}}
        </div>
      <hr class="mb-4">
      <h4>Контакты</h4>
      <div class="row">
          <div class="col-md-4 mb-3">

            <label for="firstName">Эл Почта</label>
              {{form.email}}
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">Тел-Номер</label>
              {{form.phone}}
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
      <hr class="mb-4">
      <h4>Комплектующий орган</h4>
      <div class="row">
        <div class="col-md-5 mb-3">
        {{form.organ}}
        </div>
      </div>
      <hr class="mb-4">
      <h4>Специальность</h4>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="lastName">Специальность</label>
          {{form.special}}
        </div>
        <div class="col-md-5 mb-3">
          <label for="lastName">Факультет</label>
            {{form.facult}}
        </div>
      </div>
      <hr class="mb-4">
      <h4>Результаты ЕГЭ</h4>
      <div class="row">
          <div class="col-md-3 mb-3">
            <label for="firstName">Русский язык</label>
              {{form.russ}}
          </div>
          <div class="col-md-3 mb-3">
            <label for="lastName">Математика</label>
            {{form.mat}}
          </div>
          <div class="col-md-3 mb-3">
              <label for="firstName">Обществознание</label>
                {{form.obsh}}
            </div>
          <div class="col-md-3 mb-3">
              <label for="firstName">Биология</label>
                {{form.biol}}
            </div>
        </div>
        <hr class="mb-4">
        <h4>Дополнительно</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
              <label for="lastName">Личные достижения</label>
            {{form.dostizh}}
          </div>
          <div class="col-md-6 mb-3">
              <label for="lastName">Особое право на поступление</label>
              {{form.osobpravo}}
            </div>

        </div>
        <hr class="mb-4">
        <h4>Подкрепить файл</h4>
        <div class="row">
          <div class="col-md-6 mb-3">
              <label for="lastName"></label>
            {{form.dostiszhFile}}
          </div>
          <div class="col-md-6 mb-3">
              <label for="lastName"></label>
              {{form.osobpravoFile}}
            </div>

        </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить информацию</button>
    </form>
  </div>
  </form>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">

</footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
      <script src="form-validation.js"></script>

      {% endblock %}
