{% extends "base.html" %}
{%load static%}
{% block content %}








  <div class="container">
<div class="py-5 text-center">


</div>

<div class="row biggest">

  <div class="col order-md-1">
    <h1>{{status}}</h1>
    <div class="alert alert-success" role="alert">
      Ваш документ загружен
    </div>
    <div class="alert alert-success" role="alert">
      Ваш документ рассмотрен
    </div>
    <div class="alert alert-danger" role="alert">
      Ваш документ принят
    </div>
    <h3 class="mb-3">1. Заполните анкету</h3>
    <hr class="mb-4 razdel">
    <h4 class="mb-3">Информация</h4>
    <form action="{%url 'saveInfo'%}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="lastName">Фамилия</label>
            {{form.familiya}}
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="firstName">Имя</label>
          {{form.imya}}
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <label for="lastName">Отчество</label>
            {{form.otchestvo}}
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <h4>Паспорт</h4>
      <div class="row">
          <div class="col-md-4 mb-3">

            <label for="firstName">Серия</label>
              {{form.seriya}}
              <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">Номер</label>
              {{form.nomer}}
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
      <hr class="mb-4">
      <h4>Пол</h4>
      <div class="d-block my-3">
      {{form.pol}}
        </div>
      <hr class="mb-4">
      <h4>Контакты</h4>
      <div class="row">
          <div class="col-md-4 mb-3">

            <label for="firstName">Эл Почта</label>
              {{form.email}}
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastName">Тел-Номер</label>
              {{form.phone}}
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>
      <hr class="mb-4">
      <h4>Комплектующий орган</h4>
      <div class="row">
        <div class="col-md-5 mb-3">
        {{form.organ}}
        </div>
      </div>
      <hr class="mb-4">
      <h4>Специальность</h4>
      <div class="row">
        <div class="col-md-5 mb-3">
          <label for="lastName">Специальность</label>
          {{form.special}}
        </div>
        <div class="col-md-5 mb-3">
          <label for="lastName">Факультет</label>
            {{form.facult}}
        </div>
      </div>
      <hr class="mb-4">
      <h4>Результаты ЕГЭ</h4>
      <div class="row">
          <div class="col-md-3 mb-3">
            <label for="firstName">Русский язык</label>
              {{form.russ}}
          </div>
          <div class="col-md-3 mb-3">
            <label for="lastName">Математика</label>
            {{form.mat}}
          </div>
          <div class="col-md-3 mb-3">
              <label for="firstName">Обществознание</label>
                {{form.obsh}}
            </div>
          <div class="col-md-3 mb-3">
              <label for="firstName">Биология</label>
                {{form.biol}}
            </div>
        </div>
        <hr class="mb-4">
        <h4>Дополнительно</h4>
        <div class="row">
          <!-- <div class="col-md-6 mb-3">
              <label for="lastName">Личные достижения</label>
              {{form.dostizh}}
          </div>
          <div class="col-md-6 mb-3">
              <label for="lastName">Особое право на поступление</label>
              {{form.osobpravo}}
            </div> -->
            <div class="dropdown col-md-5 mb-3">
              <button class="btn btn-secondary  button-pravo" type="button"  data-toggle="modal" data-target="#exampleModal" >
                Личные достижения
              </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Наличие аттестата о среднем общем образовании с отличием.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Наличие спортивного разряда кандидат в мастера спорта
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Наличие спортивного звания мастер спорта
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Наличие аттестата о среднем общем образовании с итоговыми отметками только
                        «хорошо» и «отлично» по всем учебным предметам учебного плана, изучавшимся на
                        уровне среднего общего образования,выданного общеобразовательной организацией
                        МВД России, осуществляющей образовательную деятельность пообразовательным 
                        программам основного общего и среднего общего образования,интегрированным с 
                        дополнительными общеразвивающими программами, имеющими целью подготовку 
                        несовершеннолетних обучающихся к службе в органах внутренних дел.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Наличие результатов участия в олимпиадах и иных интеллектуальных и (или) творческих
                        конкурсах, физкультурных мероприятиях и спортивных мероприятиях, проводимых
                        образовательными организациями МВД России
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Наличие серебряного и (или) золотого знака отличия Всероссийского физкультурно-
                        спортивного комплекса «Готов к труду и обороне» (ГТО) 5 или 6 ступени и
                        удостоверения к нему установленного образца.
                      </label>
                    </div>
                    {{form.dost}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown col-md-5 mb-3">
              <button class="btn btn-secondary  button-pravo" type="button" id="dropdownMenu2" data-toggle="modal" data-target="#exampleModal2">
                Особое право на поступление
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                
              </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Победители и призеры заключительного этапа всероссийской олимпиады школьников
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Члены сборных команд Российской Федерации, участвовавших в международных олимпиадах
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Победители и призеры олимпиад школьников I уровня, проводимых в порядке, устанавливаемом Минобрнауки
                        России, при наличии результатов ЕГЭ по общеобразовательному предмету, соответствующему
                        профилю олимпиады, не менее 75 баллов
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Дети-сироты и дети, оставшиеся без попечения родителей, а также лица из числа детей-сирот и детей
                        оставшихся без попечения родителей, до достижения ими возраста 23 лет
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Ветераны боевых действий из числа лиц, указанных в подпункте 1 пункта 1 статьи 3 Федерального закона от 12
                        января 1995 г. № 5-ФЗ «О ветеранах».
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Граждане в возрасте до двадцати лет, имеющие только одного родителя - инвалида I группы, если
                        среднедушевой доход семьи ниже величины прожиточного минимума, установленного в субъекте
                        Российской Федерации по месту жительства указанных граждан.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Граждане, которые подверглись воздействию радиации вследствие катастрофы на Чернобыльской АЭС
                        и на которых распространяется действие Закона Российской Федерации от 15 мая 1991 г. № 1244-1 «О
                        социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской
                        АЭС».
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Дети военнослужащих, погибших при исполнении ими обязанностей военной службы или умерших вследствие
                        увечья (ранения, травмы, контузии) либо заболеваний,полученных ими при исполнении обязанностей военной
                        службы, в том числе при участии в проведении контртеррористических операций и (или) иных
                        мероприятий по борьбе с терроризмом.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Дети умерших (погибших) Героев Советского Союза, Героев Российской Федерации и полных кавалеров
                        ордена Славы.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Дети сотрудников органов внутренних дел, Федеральной службы войск национальной гвардии
                        Российской Федерации, учреждений и органов уголовно-исполнительной системы, федеральной противопожарной
                        службы Государственной противопожарной службы, таможенных органов, Следственного комитета
                        Российской Федерации, погибших (умерших) вследствие увечья или иного повреждения здоровья, полученных ими
                        в связи с выполнением служебных обязанностей, либо вследствие заболевания, полученного ими в период
                        прохождения службы в указанных учреждениях и органах, и дети, находившиеся на их иждивении.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Дети прокурорских работников, погибших (умерших) вследствие увечья или иного повреждения здоровья, 
                        полученных ими в период прохождения службы в органах прокуратуры либо после увольнения вследствие 
                        причинения вреда здоровью в связи с их служебной деятельностью.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Военнослужащие, которые проходят военную службу по контракту и непрерывная продолжительность военной
                        службы по контракту которых составляет не менее трех лет, а также граждане, прошедшие военную службу по
                        призыву и поступающие на обучение по рекомендациям командиров, выдаваемым гражданам в порядке,
                        установленном федеральным органом исполнительной власти, в котором федеральным законом предусмотрена
                        военная служба.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Граждане, проходившие в течение не менее трех лет военную службу по контракту в Вооруженных Силах
                        Российской Федерации, других войсках, воинских формированиях и органах на воинских должностях и
                        уволенные с военной службы по основаниям, предусмотренным подпунктом «б» пункта 1, подпунктом
                        «а» пункта 2 и подпунктами «а» и «в» пункта 3 статьи 51 Федерального закона от 28 марта 1998 г. № 53-ФЗ «О
                        воинской обязанности и военной службе».
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Граждане, непосредственно принимавшие участие в испытаниях ядерного оружия, боевых радиоактивных
                        веществ в атмосфере, ядерного оружия под землей, в учениях с применением таких оружия и боевых
                        радиоактивных веществ до даты фактического прекращения указанных испытаний и учений,
                        непосредственные участники ликвидации радиационных аварий на ядерных установках надводных и подводных
                        кораблей и других военных объектах, непосредственные участники проведения и обеспечения работ по сбору и
                        захоронению радиоактивных веществ, а также непосредственные участники ликвидации последствий
                        этих аварий (военнослужащие и лица из числа вольнонаемного состава Вооруженных Сил Российской
                        Федерации, военнослужащие и сотрудники федеральной службы войск национальной гвардии Российской
                        Федерации, лица, проходившие службу в железнодорожных войсках и других воинских
                        формированиях, сотрудники органов внутренних дел Российской Федерации и федеральной противопожарной
                        службы Государственной противопожарной службы).
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Военнослужащие и сотрудники федеральной службы войск национальной гвардии Российской Федерации,
                        сотрудники органов внутренних дел Российской Федерации, уголовно-исполнительной системы,
                        федеральной противопожарной службы Государственной противопожарной службы, выполнявшие задачи в
                        условиях вооруженного конфликта в Чеченской Республике и на прилегающих к ней территориях,
                        отнесенных к зоне вооруженного конфликта, и указанные военнослужащие, выполняющие задачи в ходе
                        контртеррористических операций на территории Северо-Кавказского региона.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Выпускники суворовских училищ и кадетских корпусов, находящихся в ведении федеральных
                        государственных органов и реализующих дополнительные общеобразовательные программы,
                        имеющие целью подготовку несовершеннолетних обучающихся к военной или иной государственной службе.
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">
                        Победители и призеры олимпиад школьников II и III уровней, проводимых в порядке, устанавливаемом
                        Минобрнауки России, при наличии результатов ЕГЭ по общеобразовательному предмету, соответствующему
                        профилю олимпиады, не менее 75 баллов.
                      </label>
                    </div>
                    {{form.osob}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                  </div>
                </div>
              </div>
            </div>
        </div>


      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Сохранить информацию</button>
    </form>
    
    <h3 class="mb-3 mt-5" >2. Прикрепите документы</h3>
    <hr class="mb-4 razdel">
    <!-- <h4 class="mb-3">Подкрепить файл</h4> -->


          <div class="col mb-3">
            <h4 class="mb-4">Личные достижения</h4>
            <form action="{%url 'saveDocDost'%}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
            {{ formset0.management_form }}
              {%for form in formset0%}
              <div class="row ">
                  <tr>  
                    {% for field in form %}
                    <div class="col-sm ">
                      <td>{{ field }}</td>
                    </div>
                    {% endfor %}
                  </tr>
                </div>
                <hr class="mb-3 mt-3">
              {%endfor%}
          </div>
            <div class="col-md-3 mb-4 mt-3 ">
              <button class="btn btn-primary btn-lg btn-block " type="submit">Прикрепить</button>
            </div>
          </form>

          <div class="col mb-3">
            <hr class="mb-3">
            <h4 class="mb-4">Особое право на поступление</h4>
            <form action="{%url 'saveDocOsob'%}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
            {{ formset1.management_form }}
            {%for form in formset1%}
            <div class="row ">
                <tr>
                  {% for field in form %}
                  <div class="col-sm ">
                    <td>{{ field }}</td>
                  </div>
                  {% endfor %}
                </tr>
              </div>
              <hr class="mb-3 mt-3">
            {%endfor%}
            </div>
            <div class="col-md-3 mb-5 mt-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Прикрепить</button>
            </div>
            </form>
            
            
            <h3>3. Оформите заявление</h4>
              <hr class="mb-3 razdel">
              <div class="col">
                <div class="row">
                  <div class="col-md-6 mb-4 mt-4">
                    <a href="{%url 'getZayavl'  %}"role="button"><button class="btn btn-secondary btn-lg btn-block mb-4" type="submit">Сформировать заявление</button></a>
                    <p>Нажмите на кнопку выше, распечатайте сформированное заявление и поставьте свои подписи, после чего прикрепите скан документа</p>
                      <style type="text/css">
                        label {
                          margin-right: 5px;
                        }
                        .oformit {
                          /* margin-top: 10px; */
                        }
                      </style>
                      <span class="text-muted">Прикрепить сформированное заявление</span>
                      <form action="{%url 'saveZayavl'%}" method="post" enctype="multipart/form-data" class="oformit">
                        {% csrf_token %}
                        {{zayavlForm}}
                        <button class="btn btn-primary btn-lg btn-block mt-5" type="submit">Прикрепить</button>
                    </div>
                <style>
                  .knopk {
                    padding-left: 0 !important;
                  }
                </style>
                
                <div class="col-md-6  mb-3 mt-4">
                  <img class="pechat" src="{% static "admin1/images/pechat.png" %}">
                </div>
                        </form>
              </div>
          </div>
          </div>
        </div>



      </div>
            </div>
      </div>
  </div>






<footer class="my-5 pt-5 text-muted text-center text-small">

</footer>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
      <script src="form-validation.js"></script>

      {% endblock %}
